
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Edit Information</h1>

    <form method="POST" action="/setting/edit" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label for="employeeName" class="block text-gray-700 font-semibold mb-2">Employee ID</label>
        <input type="text" id="employeeName" name="_id" value={{user._id}} class="w-full cursor-not-allowed border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" readonly>
      </div>
      <div class="mb-4">
        <label for="employeeName" class="block text-gray-700 font-semibold mb-2">Employee Name</label>
        <input type="text" id="employeeName" name="employeeName" value='{{user.employee_name}}' class="w-full border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
      </div>
      <div class="mb-4">
        <label for="employeePhone" class="block text-gray-700 font-semibold mb-2">Employee Phone</label>
        <input type="text" id="employeePhone" name="employeePhone" value="{{user.employee_phone}}" class="w-full border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
      </div>
      <div class="mb-4">
        <label for="employeeEmail" class="block text-gray-700 font-semibold mb-2">Employee Email</label>
        <input type="email" id="employeeEmail" name="employeeEmail" value="{{user.employee_email}}" class="w-full border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
      </div>
      <div class="mb-4">
        <label for="profilePicture" class="block text-gray-700 font-semibold mb-2">Profile Picture</label>
        <div class="flex items-center">
          <img src="{{user.profile_picture}}" alt="Profile Picture" id="preview" class="w-24 h-24 rounded-full object-cover mr-4">
          <input type="file" id="profilePicture" name="profilePicture" accept="image/*" class="border-gray-300 focus:outline-none">
        </div>
      </div>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Save Changes</button>
    </form>
  </div>

  <script>
    const profilePictureInput = document.getElementById('profilePicture');
    const previewImage = document.getElementById('preview');

    profilePictureInput.addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          previewImage.src = e.target.result;
        };
        reader.readAsDataURL(file);
      } else {
        previewImage.src = 'https://via.value.com/150'; // value image if no file selected
      }
    });
  </script>
