<div class = "flex flex-col dark:bg-white px-5 pb-5 pt-1 rounded-lg">
    <div class=" container mx-auto py-4">
        <form class=" flex group relative">
            <svg width="20" height="20" fill="currentColor" class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-gray-500" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
            </svg>
            <input class="focus:ring-2 focus:ring-gray-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2  pl-10 pr-4 ring-1 ring-slate-200 shadow-sm truncate" type="text" aria-label="Filter projects" placeholder="Search ...">
                <button type="submit" class="font-bold bg-gray-200 w-1/12 mx-2 rounded-lg">
                        <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <button onclick="location.href='/admin_customer/customer_seacrh_{{customer._id}}'" type="button" class=" font-bold bg-gray-200 text-green-600 w-1/12 mx-2 rounded-lg">
                                All
                </button>
        </form>
    </div>
    <div class="relative shadow-md sm:rounded-lg dark:bg-white h-100" style=" overflow-y: auto;">
        <table class="min-w-full bg-white border border-gray-300 rounded-md">
            <thead>
                <tr class="bg-gray-100">
                    <th class="py-2 px-4 border-b">ID</th>
                    <th class="py-2 px-4 border-b">Name</th>
                    <th class="py-2 px-4 border-b">Phone</th>
                    <th class="py-2 px-4 border-b">Paid Product</th>
                    <th class="py-2 px-4 border-b">Total Price</th>
                    <th class="py-2 px-4 border-b">Pay</th>
                    <th class="py-2 px-4 border-b">Exchange</th>
                    <th class="py-2 px-4 border-b">Date</th>
                    <th class="py-2 px-4 border-b">Action</th>
                </tr>
            </thead>
            <tbody>

                <!-- Product Row (Replace this block for each product) -->
                {{#each invoices}}
                    <tr>
                        <td class="py-2 px-4 border-b">{{sum @index 1}}</td>
                        <td class="py-2 px-4 border-b">{{this.customer_name}}</td>
                        <td class="py-2 px-4 border-b">{{this.customer_phone}}</td>
                        <td class="py-2 px-4 border-b">
                        {{#each product_name}}
                        {{this}},
                        {{/each}}
                        </td>
                        <td class="py-2 px-4 border-b">{{this.total_price}}</td>
                        <td class="py-2 px-4 border-b">{{this.recieved}}</td>
                        <td class="py-2 px-4 border-b">{{this.exchange}}</td>
                        <td class="py-2 px-4 border-b">{{this.createdAt}}</td>
                        <td class="flex gap-2">
                                <form method="post" action="/admin_invoice/invoice_delete/{{this._id}}?_method=DELETE">
                                        <button type="submit" class="bg-gray-200 text-red-500 w-full mx-3 rounded-lg" data-toggle="modal" data-target="#deleteModal">
                                                <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
        document.getElementById('select_all').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (const checkbox of checkboxes) {
        checkbox.checked = this.checked;
        }
        });
</script>
