<div class=" container mx-auto py-4">
        <form class=" flex group relative">
            <svg width="20" height="20" fill="currentColor" class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-gray-500" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
            </svg>
            <input class="focus:ring-2 focus:ring-gray-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2  pl-10 pr-4 ring-1 ring-slate-200 shadow-sm truncate" type="text" aria-label="Filter projects" placeholder="Search ...">
                <button type="submit" class="font-bold bg-gray-200 w-1/12 mx-2 rounded-lg">
                        <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <button onclick="location.href='/admin_customer/customer_seacrh_{{customer._id}}'" type="button" class=" font-bold bg-gray-200 text-green-600 w-1/12 mx-2 rounded-lg">
                                All
                </button>
        </form>
</div>
<table class="min-w-full bg-white border border-gray-300 rounded-md">
            <thead>
                <tr class="bg-gray-100">
                    <th scope="col" class="p-4">
                        <div class="flex items-center">
                            <input id="select_all" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-all-search" class="sr-only">checkbox</label>
                        </div>
                    </th>
                    <th class="py-2 px-4 border-b">No</th>
                    <th class="py-2 px-4 border-b">Image</th>
                    <th class="py-2 px-4 border-b">Name</th>
                    <th class="py-2 px-4 border-b">Phone</th>
                    <th class="py-2 px-4 border-b">Email</th>
                    <th class="py-2 px-4 border-b">Hire Date</th>
                    <th class="py-2 px-4 border-b">Status</th>
                </tr>
            </thead>
            <tbody>

                <!-- User Row (Replace this block for each user) -->
                {{#each data}}
                    <tr>
                        <td  class="p-4">
                            <input type="checkbox"class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        </td>
                        <td>{{sum @index 1}}</td>
                        <td class="py-2 px-4 border-b">
                            <img src="{{this.profile_picture}}" alt="User Image" class="w-12 h-12 object-cover rounded-md">
                        </td>
                        <td class="py-2 px-4 border-b">{{this.employee_name}}</td>
                        <td class="py-2 px-4 border-b">{{this.employee_phone}}</td>
                        <td class="py-2 px-4 border-b">{{this.employee_email}}</td>
                        <td class="py-2 px-4 border-b">{{this.hire_date}}</td>
                        <td class="py-2 px-4 border-b text-green-500">{{this.account_status}}</td>
                    
                    </tr>
                {{/each}}
                <!-- End User Row -->

                <!-- Repeat the User Row block for each user -->

            </tbody>
        </table>



  <script>
        document.getElementById('select_all').addEventListener('change', function() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (const checkbox of checkboxes) {
                checkbox.checked = this.checked;
                }
            });
    
      // Get all elements with the class "deleteButton"
    var deleteButtons = document.querySelectorAll('.deleteButton');

    // Add click event listener to each delete button
    deleteButtons.forEach(function(button) {
      button.addEventListener('click', function() {
        var userId = this.getAttribute('data-user-id');
        var confirmation = confirm('Are you sure you want to delete this user?');
         if (confirmation) {
          // Use Fetch API to send DELETE request
          fetch(`/employee/${userId}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
              // Add other headers if needed
            },
            // body: JSON.stringify(data) // Include data if needed
          })
          .then(response => response.json())
          .then(data => {
            alert(`User ${userId} deleted successfully!`);
          })
          .catch(error => {
            console.error('Error:', error);
          });
        } else {
          alert('Deletion canceled.');
        }
      });
    });
  </script>