<div class=" container mx-auto py-4">
    <form class=" flex group relative">
        <svg width="20" height="20" fill="currentColor" class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-gray-500" aria-hidden="true">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
        </svg>
        <input class="focus:ring-2 focus:ring-gray-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2  pl-10 pr-4 ring-1 ring-slate-200 shadow-sm truncate" type="text" aria-label="Filter projects" placeholder="Search ...">
            <button type="submit" class="font-bold bg-gray-200 w-1/12 mx-2 rounded-lg">
                    <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button onclick="location.href='/admin_customer/customer_seacrh_{{customer._id}}'" type="button" class=" font-bold bg-gray-200 text-green-600 w-1/12 mx-2 rounded-lg">
                            All
            </button>
    </form>
</div>
<table class="min-w-full bg-white border border-gray-300 rounded-md">
    <thead>
        <tr class="bg-gray-100">
            <th class="py-2 px-4 border-b">ID</th>
            <th class="py-2 px-4 border-b">Name</th>
            <th class="py-2 px-4 border-b">Series</th>
            <th class="py-2 px-4 border-b">Image</th>
            <th class="py-2 px-4 border-b">Price</th>
        </tr>
    </thead>
    <tbody>

        <!-- Product Row (Replace this block for each product) -->
        {{#each data}}
            <tr>
                <td class="py-2 px-4 border-b">{{sum @index 1}}</td>
                <td class="py-2 px-4 border-b">{{this.product_name}}</td>
                <td class="py-2 px-4 border-b">{{this.series}}</td>
                <td class="py-2 px-4 border-b">
                    <img src="/uploads/{{this.link_image}}" alt="Product Image" class="h-16 object-cover rounded-md">
                </td>
                <td class="py-2 px-4 border-b">{{#each retail_price}}{{this}}, {{/each}}</td>
            </tr>
        {{/each}}
        <!-- End Product Row -->

        <!-- Repeat the Product Row block for each product -->

    </tbody>
</table>

